.body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://images.pexels.com/photos/1750268/pexels-photo-1750268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin-top: 10%;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 8px 8px rgb(170, 169, 169);
}
.header{
    margin-top: 30px;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
}
.inputs{
    padding: 20px;
}
.username{
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border-width: 1;
    margin-bottom: 20px;
    margin-left: 7px;
    /* border: none;
    outline: none;
    border-bottom: 2px solid #000000; */
}
.email{
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border-width: 1;
    margin-bottom: 15px;
    margin-left: 7px;
}
.password{
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border-width: 1;
    margin-bottom: 15px;
    margin-left: 7px;
}
.reg{
    margin-left: 7%;
    margin-bottom: 20px;
}
.submit{
    width: 100px;
    height: 40px;
    background-color: rgb(34, 32, 32);
    color: white;
    border-radius: 6px;
    font-size: medium;
    margin-bottom: 5%;
}
.submit:hover{
    background-color: rgb(78, 77, 77);
}